!!! 5
html
	head
		link(rel='stylesheet', type='text/css', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(href='http://fonts.googleapis.com/css?family=Radley', rel='stylesheet' type='text/css')
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
	body
		p We need a bit more info from you....
		form#formInfo(role="form", method="post", action="/moreinfo")
			input.form-group.form-control#age(placeholder="Age", name="age")
			input.form-group.form-control#moveTo(placeholder="Where do you want to live?", name="moveTo")
			input.form-group.form-control#months(placeholder="How long do you plan to stay in months?", name="months")
			input.form-group.form-control#ageMin(placeholder="Minimum you want to live with?", name="ageMin")
			input.form-group.form-control#ageMax(placeholder="Maximum age you want to live with?", name="ageMax")
			button.btn.btn-default#subFormButton(type="submit") Submit

	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")