!!! 5
html
	head
		link(rel='stylesheet', type='text/css', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(href='http://fonts.googleapis.com/css?family=Radley', rel='stylesheet' type='text/css')
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")

	body
			a.btn.btn-default.topButtons#finfRoomers(type="submit",href="/searchRoomers") Find Roomers
	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")