!!! 5
html
	head
		link(rel='stylesheet', type='text/css', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(href='http://fonts.googleapis.com/css?family=Radley', rel='stylesheet' type='text/css')
		link(rel="stylesheet", type="text/css", href="/stylesheets/roomerprofile.css")

	body
			a.btn.btn-default.topButtons#finfRoomers(type="submit",href="/searchRoomers") Find Roomers
			H1 Your Roomer Profile
				img.users(src="/images/jessprofilepic.jpg")

			p	Name: Jessica Waite Age: 22  
				br
				|Current Location: Boulder, CO Wants to move to: New York, New York Months staying: 6  
			H2 Bio:
				br
				|I am a tech geek who spends most of her time on a computer or at a social gathering
				|I have an awesome dog named after a Seinfeld reference. She is as awesome as her name.
				|I am excited to move to NYC in December.

			H3 Deal Breakers
			p My deal breakers are: People who don't love dogs and listeners of Nickleback

			H4 Pet Peeves
			p My Pet Peeves are: Dirty dishes and unclean bathrooms.




	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")