<form id="formInfo" role="form">
  <div class="form-group">
    <input type="firstName" class="form-control" id="first" placeholder="First Name">
    </div>
  <div class="form-group">
    <input type="lastName" class="form-control" id="lastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="age" class="form-control" id="age" placeholder="Age">
  </div>
  <div class="form-group">
    <input type="currentloc" class="form-control" id="currentloc" placeholder="Where do you live now?">
  </div>
   <div class="form-group">
    <input type="moveTo" class="form-control" id="moveTo" placeholder="Where do you want to live?">
  </div>
   


  <button type="submit" id="bottomButton" class="btn btn-default">Submit</button>
  </form>
  </div>