/*roomer green is #86c351*/
body {
	background-color: #e6ece8;
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#banner{
	width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
p{
	margin-top: 50px;
}
}
a {
  color: #00B7FF;
}
.topButtons{
	background-color: #86c351;
	position: relative;
	display: inherit;
	float:right;
	top: -230px;
	
}
#formInfo{
	display:none;
}
.container{
	
	background-color: white .6;
	margin-top: 230px;

}
.users{
	margin-top: 40px;
	margin-left: 90px;
	display: inherit;
	border-radius: 100%;
	margin-bottom: 40px;
	padding: 15px;
	
	max-height: 200px;
	border: solid;
	border-color: #e6ece8;
	border-width: 2px;
}

ul{
	list-style: none;
	display: block;
	margin-left: 300px;
	margin-top: -160px;
}